@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@font-face {
  font-family: 'TFArrow';
  src: url('../fonts/tf-arrow-light/tf-arrow-light-1361518756.eot'); /* IE9 Compat Modes */
  src: url('../fonts/tf-arrow-light/tf-arrow-light-1361518756.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/tf-arrow-light/tf-arrow-light-1361518756.woff') format('woff'), /* Modern Browsers */
       url('../fonts/tf-arrow-light/tf-arrow-light-1361518756.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/tf-arrow-light/tf-arrow-light-1361518756.svg#8352247130da24fc44911e736efbefdc') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'TFArrow';
  src: url('../fonts/tf-arrow-extrabold/tf-arrow-extrabold-1361518762.eot'); /* IE9 Compat Modes */
  src: url('../fonts/tf-arrow-extrabold/tf-arrow-extrabold-1361518762.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/tf-arrow-extrabold/tf-arrow-extrabold-1361518762.woff') format('woff'), /* Modern Browsers */
       url('../fonts/tf-arrow-extrabold/tf-arrow-extrabold-1361518762.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/tf-arrow-extrabold/tf-arrow-extrabold-1361518762.svg#7e2ff9996867b71989d3c13ed111f778') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: "icon-jumeira-infogra";
  src:url("../fonts/icons/icon-jumeira-infogra.eot");
  src:url("../fonts/icons/icon-jumeira-infogra.eot?#iefix") format("embedded-opentype"),
      url("../fonts/icons/icon-jumeira-infogra.woff") format("woff"),
      url("../fonts/icons/icon-jumeira-infogra.ttf") format("truetype"),
      url("../fonts/icons/icon-jumeira-infogra.svg#icon-jumeira-infogra") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icon-jumeira-infogra" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-jumeira-infogra" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "a";
}
.icon-twitter:before {
  content: "b";
}
.icon-google-plus:before {
  content: "c";
}
.icon-instagram:before {
  content: "d";
}
.icon-youtube:before {
  content: "e";
}



html, button, input, select, textarea { color: #222; }
html { font-size: 1em; line-height: 1.4; }

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
audio, canvas, img, video { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
.browsehappy { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
:before, :after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
html { -webkit-tap-highlight-color: rgba(0,0,0,0); font-family: 'TFArrow', sans-serif; color:#666;}
* {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
html, body {height:100%;}
body {opacity:0;}
a {text-decoration:none; transition:0.2s color, 0.2s background-color; -webkit-transition:0.2s color, 0.2s background-color; -moz-transition:0.2s color, 0.2s background-color;}
a:focus {outline-style:none;}
.pagewrap {min-height:100%;}
.animation {position:relative;}
h1, h2, h3, h4, h5, h6 {line-height:1;}
h1, h2, h3, h4, h5, h6, p {margin:0 0 10px;}
h1 {position:relative; font-size:5.5em; font-weight:200; margin-bottom:0;}
h2 {font-size:2.5em; font-weight:200; margin:0; line-height:.6;}
p {font-size:1.5em;}
[class^=i-] {background-image:url(../img/sprite.png); background-repeat:no-repeat; display:inline-block;}
.social-icons {list-style:none; margin:0; padding:0; position:absolute; right:20px; bottom:35px; z-index:2;}
.social-icons > li {display:inline-block; margin:0 5px;}
.social-icons > li > a {display:block; border:solid 1px #666; border-radius:100%; width:57px; height:57px; text-align:center; color:#666; font-size:1.6em; padding-top:16px;}
.social-icons > li > a:hover {color:#f4f1e8; background-color:#666;}

.social-icons.active > li > a {color:#fff; border-color:#fff;}
.social-icons.active > li > a:hover {background-color:#fff; color:#666;}

.i-arrowdown, .i-arrowdown-white {background-position:-11px -9px; width:49px; height:49px; margin-top:.75em; transition:0.3s; -webkit-transition:0.3s;}
.i-arrowdown-white {background-position:-70px -9px;}
.movedown {position:fixed; bottom:3%; left:50%; color:#7c704f; width:160px; margin-left:-80px; z-index:2; text-align:center; font-weight:700; font-size:.9em; transition:.2s; -webkit-transition:.2s;}
.movedown:hover .i-arrowdown,
.movedown:hover .i-arrowdown-white {transform:rotate(360deg); -webkit-transform:rotate(360deg);}
.movedown.white {color:#fff; display:none;}
.btmarrow-container {transition:0.2s; -webkit-transition:0.2s;}
.btmarrow-container.active .n {display:none;}
.btmarrow-container.active .r {display:block;}

.section {height:100%; position:relative;}
.slidecontent, .bg {background: no-repeat center center fixed; background-size:cover; height:100%; }
.s1 .slidecontent {background-image:url(../img/structure.jpg);}
.s2 .slidecontent {background-image:url(../img/burj-al-arab.jpg);}
.s3 .slidecontent {background-image:url(../img/burj-inside1-bw.jpg);}
.s3 .bg {background-image:url(../img/burj-inside1.jpg);}
.s4 .slidecontent {background-image:url(../img/gold-pillar-bw.jpg);}
.s4 .bg {background-image:url(../img/gold-pillar.jpg);}
.s5 .slidecontent {background-image:url(../img/pyramid-bw.jpg);}
.s5 .bg {background-image:url(../img/pyramid.jpg);}
.s6 .slidecontent {background-image:url(../img/eiffel-bw.jpg);}
.s6 .bg {background-image:url(../img/eiffel.jpg);}
.s7 .slidecontent {background-image:url(../img/bulgaria-bw.jpg);}
.s7 .bg {background-image:url(../img/bulgaria.jpg);}
.s8 .slidecontent {background-image:url(../img/chocolate-bw.jpg);}
.s8 .bg {background-image:url(../img/chocolate.jpg);}
.s9 .slidecontent {background-image:url(../img/jumeirah-internet-bw.jpg);}
.s9 .bg {background-image:url(../img/jumeirah-internet.jpg);}
.s10 .slidecontent {background-image:url(../img/culinaryawards-bw.jpg);}
.s10 .bg {background-image:url(../img/culinaryawards.jpg);}
.s11 .slidecontent {background-image:url(../img/footsteps-bw.jpg);}
.s11 .bg {background-image:url(../img/footsteps.jpg);}
.s12 .slidecontent {background-image:url(../img/burj-al-arab-blur.jpg);}
.s12 .bg {background-image:url(../img/burj-al-arab.jpg);}

.content.s1 {color:#666; z-index:1; top:40%;}
.content.s1.active, .content.s1.active .punch {color:#fff;}
.s1 .content {color:#666;}
.s1 .punch {color:#7c704f;}
.logoburj {position:fixed; top:30px; right:30px; z-index:1;}
.logoburj:hover img {transform:scale(0.95,0.95); -webkit-transform:scale(0.95,0.95);}
.logo15y {position:fixed; left:30px; top:30px; z-index:1;}
.logo15y img, .logoburj img {position:absolute; left:0; top:0;}
.logoburj img {right:0; left:auto;}
.logo15y .r, .logoburj .r {opacity:0; transition:0.25s; -webkit-transition:0.5s;}
.logo15y.active .n, .logoburj.active .n {opacity:0;}
.logo15y.active .r, .logoburj.active .r {opacity:1;}
.content {position:absolute; width:600px; top:30%; left:50%; margin:0 0 0 -600px; color:#fff;}
.punch {font-size:2.25em; margin-bottom:1.5em;}
.leftbar {background:url(../img/left-blackbar.png) no-repeat center top; background-size:cover; position:absolute; width:100%; height:100%; left:0; top:0;}
.rightbar {background:url(../img/right-blackbar.png) no-repeat center top; background-size:cover; position:absolute; width:100%; height:100%; left:0; top:0;}
.centercontent {width:690px; position:absolute; top:30%; left:50%; margin-left:-345px; text-align:center;}
.s8 .centercontent {width:900px; left:45%;}
.s9 .centercontent {width:800px; left:47%;}
.s11 .centercontent {width:900px; left:42%;}
.s9 .features {margin-left:-1em;}
.features {font-size:2.25em; min-height:2.5em;}
.features .item {display:inline-block; vertical-align:middle; min-width:235px;}

.centercontent .img {margin:3em 0;}
.centercontent .smtxt {color:#776b4b; display:block; line-height:.9; margin-top:5px;}
.centercontent .midtxt {font-family: 'Dancing Script', cursive; color:#fff; display:inline-block; font-size:.8em; line-height:.9; vertical-align:middle; padding:0 1em; min-height:1em;}
.row3 {font-size:1.5em; color:#fff; margin-top:1.25em;}

.centercontent .midtxt:after {content:''; height:40px; width:1px; position:absolute; left:56%; bottom:102%; background:#666;
transform:rotate(10deg);
-webkit-transform:rotate(10deg);
-moz-transform:rotate(10deg);
-ms-transform:rotate(10deg);
-o-transform:rotate(10deg);}
.centercontent .midtxt:before {content:''; height:40px; width:1px; position:absolute; left:44%; top:120%; background:#666;
transform:rotate(10deg);
-webkit-transform:rotate(10deg);
-moz-transform:rotate(10deg);
-ms-transform:rotate(10deg);
-o-transform:rotate(10deg);}
.s4 .centercontent {top:25%;}
.s4 .centercontent .midtxt {margin-top:-1em;}
.line-art {background:url(../img/burj-line-art.png) no-repeat left top; background-size:cover; position:absolute; z-index:1; bottom:25px; height:107px; width:100%; left:0; opacity:0;}
.content2 {opacity:0;}

.s12 .centercontent {min-width:1180px; color:#fff; margin-left:-590px; top:13%;}
.col3-grid {width:33%; float:left; padding:1.5em;}
.col3-grid a {color:#fff;}
.col3-grid h2 {line-height:1.1; margin-bottom:.8em;}
.col3-grid p {font-size:1.125em; line-height:1.75em;}
.col3-grid .img {overflow:hidden; margin:0 0 1em; border-radius:100%; border:solid 5px rgba(255,255,255,0.1); background:rgba(255,255,255,0.1); display:inline-block; backface-visibility:hidden;}
.col3-grid img {transition:0.25s; -webkit-transition:0.25s; border-radius:100%; backface-visibility:hidden; max-width:100%;}
.col3-grid:hover img {transform:scale(0.9,0.9); -webkit-transform:scale(0.9,0.9);}
.jumeirah-home {position:absolute; left:25px; bottom:25px; color:#fff; font-size:0.875em; border:solid 1px transparent; transition:0.5s; -webkit-transition:0.5s;}
.jumeirah-home strong {font-size:1.428571429em;}
.jumeirah-home:hover {border-bottom-color:#fff;}
.jumeirah-home strong {border:solid 1px transparent; transition:0.5s; -webkit-transition:0.5s;}
.jumeirah-home:hover strong {border-bottom-color:#fff;}
.share-story {width:110px; position:absolute; bottom:25px; left:50%; margin-left:-55px; color:#fff; text-align:center; cursor:pointer; font-size:0.875em;}
.share-story strong {display:block; border-bottom:solid 1px transparent; transition:0.5s; -webkit-transition:0.5s; font-size:1.428571429em; line-height:1; padding-bottom:2px; margin-bottom:2px;}
.share-story:hover strong {border-bottom-color:#fff;}
.connect-burj {right:25px; bottom:25px; position:absolute; font-size:0.875em; color:#fff;}
.social-connect {list-style:none; margin:5px 0 0; padding:0;}
.social-connect li {float:left; margin-left:-1px;}
.social-connect li a {display:block; width:47px; height:41px; border:solid 1px #fff; text-align:center; color:#fff; font-size:1.4em; padding-top:9px;}
.social-connect li a:hover {background:#fff; color:#2c3860;}



/*Full page nav css*/
#fp-nav {position: fixed; z-index: 100; margin-top: -32px; top: 50%;}
#fp-nav.right {right: 17px;}
#fp-nav.left {left: 17px;}
#fp-nav ul {list-style:none; padding:0; margin:0; opacity:.5; transition:2s; -webkit-transition:2s;}
#fp-nav ul:hover {opacity:1;}
#fp-nav ul li a {padding:14px; display:block;}

#fp-nav ul li:first-child {display:none;}
#fp-nav ul li a span {border-radius:100%; display:block; border:solid 1px #fff; width:12px; height:12px; position:relative; transition:0.1s; -webkit-transition:0.1s;}
#fp-nav ul li a span:before {content:''; width:4px; height:4px; background:#fff; border-radius:100%; display:inline-block; text-align:center; margin:3px 0 0 3px; position:absolute; opacity:0;}
#fp-nav ul li a.active span:before {opacity:1;}
#fp-nav ul li:hover a span {transform:scale(1.25,1.25); -webkit-transform:scale(1.25,1.25);}
/*Full page nav css end*/

















/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir { background-color: transparent; border: 0; overflow: hidden;  *text-indent: -9999px;}
.ir:before { content: ""; display: block; width: 0; height: 150%; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix {  *zoom: 1; }

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after { display: table; content: " " }
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after { clear: both }
.center-block { display: block; margin-right: auto; margin-left: auto }
.pull-right { float: right!important }
.pull-left { float: left!important }
.hide { display: none!important }
.show { display: block!important }


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width:1400px) {
	.centercontent {top:25%;}
	.content {margin: 0 0 0 -500px;}
	.i-arrowdown, .i-arrowdown-white {margin-top: .5em;}
	.s12 .centercontent {top: 8%;}
	.jumeirah-home, .share-story, .connect-burj, .line-art {bottom:10px;}
	.social-icons {bottom:25px;}
	.logoburj {top:10px; right:10px;}
	.logo15y {top:10px; left:10px;}
	.s12 .centercontent {min-width:980px; margin-left: -480px;}
	.logo15y img {width:120px;}
	
}
@media (max-width:1300px) {
	.col3-grid h2 {margin-bottom:.3em;}
	.col3-grid p {line-height:1.5;}
	.s12 .centercontent {top:4%;}
	
}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
a,  a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after,  a[href^="javascript:"]:after,  a[href^="#"]:after { content: ""; }
pre,  blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; }
tr,  img { page-break-inside: avoid; }
img { max-width: 100% !important; }
@page {
 margin: 0.5cm;
}
p,  h2,  h3 { orphans: 3; widows: 3; }
h2,  h3 { page-break-after: avoid; }
}
